
<center>
  <h1>Eat-DA-Burger!</h1>
  <img src="../assets/img/eatDatBurger.jpg">
</center>
<div class="container">
  <div class="row">
    <div class="col1">
<h2>Burgers that have not been devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li><span>
       {{this.id}}
        {{this.burger_name}}
      </span>

        <form action="/{{this.id}}?_method=PUT" method="POST" id="D-button">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">Devour It!</button>
        </form>
      </li>

    {{/unless}}
  {{/each}}
</ul>

    </div>
    <div class="col2">
<h2>Burgers that have been Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
       {{this.id}}
        {{this.burger_name}}

      </li>
    {{/if}}
  {{/each}}
</ul>

    </div>
  </div>
</div>


<center>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <input type="text" id="ca" name="burger_name">
  </div>

Enter a Burger you would like to eat then hit the "Submit" button!<br>
  <button type="submit" class="btn-primary">Submit</button>
</form>
</center>
